<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
</head>
<style>
    body {background-image:url('https://previews.123rf.com/images/vinsalow/vinsalow1705/vinsalow170500020/78755846-grunge-texture-gray-and-green-background-hd-photo-light-sky-concept.jpg');}
    h3{
    display: inline;
    padding-right: 22px;
    }
</style>
<body>
    <h1 >Welcome to Bridgelabz </h1>
    <a href="{% url 'home' %}"><h3 style="color:red">HOME</h3></a>
    <a href="{% url 'signup' %}"><h3 style="color:red">SIGNUP</h3></a>
    <a href="{% url 'login' %}"><h3 style="color:red">LOGIN</h3></a>

    <hr>
    {% block content %}
    {% endblock %}
</body>
</html>

