<html lang="en">
<head>
    <title></title>
</head>
<style>
    body {background-image:url('https://previews.123rf.com/images/vinsalow/vinsalow1705/vinsalow170500020/78755846-grunge-texture-gray-and-green-background-hd-photo-light-sky-concept.jpg');}
</style>
<body>

<center><span style="color:black; font-size:37px; ">ANIL</span><span style="color:black;  font-size:37px; margin-left:21px;">APP</span><span style="color:black;  font-size:37px; margin-left:21px; " >HOMEPAGE</span></center>
<a href="{% url 'login' %}"><p style="color:red"   align="center">anil</p></a>
    <a href="{% url 'signup' %}"><p style="color:red" align="center">SIGNUP</p></a>
</body>
</html>
